@page
@model WebApplicationTest.Models.Hello

@{
    ViewBag.Title = "Welcome";
    Layout = "_Layout";
}

<h2 >hello : @ViewData["Name"]</h2>
<h2>@Html.DisplayNameFor(model => model.Name) : @Html.DisplayFor(model => model.Name)</h2>
<h2>@Html.DisplayNameFor(model => model.Date) : @Html.DisplayFor(model => model.Date)</h2>